/* ===== HERO SECTION ===== */
.hero {
    background: #222;
    padding: 80px 20px;
    border-radius: 16px;
}

.hero-content {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
    color: #38bdf8;
}

.hero p {
    font-size: 18px;
    line-height: 1.7;
    color: #cbd5f5;
    margin-bottom: 30px;
}

.hero-actions {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Buttons */
.btn-primary {
    background: #38bdf8;
    color: #222;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background: #0ea5e9;
}

.btn-secondary {
    border: 2px solid #38bdf8;
    color: #38bdf8;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-secondary:hover {
    background: #38bdf8;
    color: #222;
}

/* ===== FEATURES ===== */
/* .features {
    margin-top: 80px;
    text-align: center;
}

.features h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #fff;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
}

.feature-card {
    background: #020617;
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #1e293b;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.4);
}

.feature-card h3 {
    margin-bottom: 12px;
    color: #38bdf8;
}

.feature-card p {
    color: #cbd5f5;
    font-size: 15px;
    line-height: 1.6;
} */

/* ===== CTA ===== */
.cta {
    margin-top: 90px;
    padding: 60px 20px;
    background: #222;
    border-radius: 16px;
    text-align: center;
}

.cta h2 {
    font-size: 32px;
    margin-bottom: 12px;
    color: #38bdf8;

}

.cta p {
    margin-bottom: 24px;
    color: #cbd5f5;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 30px;
    }

    .hero-actions {
        flex-direction: column;
    }
}
