/* ===== Single Post Page ===== */
.post-detail {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 15px;
}

.post-detail-card {
    background: #ffffff;
    padding: 45px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

/* Title */
.post-detail-title {
    font-size: 2.6rem;
    margin-bottom: 8px;
    color: #111;
}

/* Date */
.post-meta {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 25px;
}

/* Banner Image */
.post-image {
    margin: 25px 0 35px;
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 16 / 9;   /* ✅ landscape */
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* Content */
.post-content {
    font-size: 1.1rem;
    line-height: 1.9;
    color: #333;
}

.post-content p {
    margin-bottom: 18px;
}

/* Back Button */
.back-btn {
    display: inline-block;
    margin: 35px 0;
    margin-top: 35px;
    text-decoration: none;
    background: #222;
    color: #fff;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: 0.3s ease;
}

.back-btn:hover {
    background: #333;
}

/* Responsive */
@media (max-width: 768px) {
    .post-detail-card {
        padding: 28px;
    }

    .post-detail-title {
        font-size: 2rem;
    }
}



/* comments  */
.comments-section {
    margin-top: 50px;
}

.comments-title {
    font-size: 22px;
    margin-bottom: 20px;
}

/* Form */
.comment-form {
    margin-bottom: 30px;
}

.comment-textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #1e293b;
    /* background: #020617; */
    color: #333;
    resize: none;
}

.btn-comment {
    text-decoration: none;
    background: #222;
    color: #fff;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: 0.3s ease;
}

.btn-comment:hover {
    background: #333;
}

/* Comment Card */
.comment-card {
    /* background: #020617; */
    border: 1px solid #1e293b;
    border-radius: 12px;
    padding: 14px;
    margin-bottom: 15px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #94a3b8;
    margin-bottom: 6px;
}

.login-msg {
    margin: 2rem 0;
}
.login-msg a {
    color: #38bdf8;
}
