/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
}
/* Navbar */
.navbar {
    background-color: #222;
    padding: 15px 0;
    color: #fff;
    width: 100%;
}

.navbar .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    transition: 0.3s;
}

.nav-links li a:hover {
    background-color: #555;
    border-radius: 5px;
}
/* Logout button style */
.logout-btn {
    width: 100%;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 6px 10px;
    text-align: left;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.25s ease, color 0.25s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.logout-btn:hover {
    background: rgba(239, 68, 68, 0.12);
    border: 1px solid rgb(255, 0, 0);

    color: #f87171;
}


/* Page Content */
.content {
    padding: 30px;
    width: 90%;
    margin: auto;
    min-height: 80vh;
}

/* Footer */
.footer {
    background-color: #222;
    color: #ccc;
    padding: 40px 0 20px 0;
    margin-top: 40px;
}


.footer-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #111;

}

.footer-column h3,
.footer-column h4 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fff;
}

/* Footer bottom text */
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #333;
}

.footer-bottom p {
    font-size: 13px;
    color: #888;
}

/* Responsive Footer */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
