{% extends 'layout.html' %}
{% load static %}

{% block title %}Posts | MySite{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block content %}
<section class="posts-section">

    <!-- Header -->
    <header class="posts-header">
        <h1 class="page-title">Latest Posts</h1>
    </header>

    {% if posts %}
        <div class="posts-container">
            {% for post in posts %}
                <article class="post-card">
                      <!-- 🔹 Post Header -->
                    <header class="post-header">
                        <h2 class="post-title">
                             <a href="{% url 'posts:page' slug=post.slug %}">
                            {{ post.title }}
                        </a>
                        </h2>
                        <div class="post-meta">
                            <span class="post-author">
                                By {{ post.author.get_username }}
                            </span>

                            <time datetime="{{ post.created_at|date:'Y-m-d' }}"
                                class="post-date">
                                {{ post.created_at|date:"F d, Y" }}
                            </time>
                        </div>
                    </header>
                     <!-- 🔹 Post Banner -->
                    {% if post.banner %}
                    <figure class="post-image">
                        <img src="{{ post.banner.url }}" alt="{{ post.title }}">
                    </figure>
                    {% endif %}
                   
                    <!-- Body preview -->
                    <div class="post-body">
                        {{ post.body|truncatewords:40 }}
                    </div>

                </article>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-state">
            <p>No posts available yet.</p>
        </div>
    {% endif %}

</section>
{% endblock %}
